DB_URL=jdbc:postgresql://localhost:5432/credbridge
DB_USERNAME=postgres
DB_PASSWORD=change-me
SERVER_PORT=8080
JPA_DDL_AUTO=validate
JPA_SHOW_SQL=false
FLYWAY_ENABLED=true
FLYWAY_BASELINE_ON_MIGRATE=true
FLYWAY_BASELINE_VERSION=4
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRATION_MINUTES=120
